.main-header
{
    padding: 0px;
    height: 66px;
}
.main-header ul
{
    border: 0px;
}
.navbar
{
    background:#ffffff;
    align-items: flex-end;
}
.ant-menu-item-selected{
    border-bottom: 0px !important;

}
.ant-tabs-nav
{
    margin: 0px 33%;
}
.ant-card-body
{
    padding: 0px !important;
}
.ant-card-meta-title{
    margin: 2px;
}
.ant-card-meta
{
    margin: 4px 0;
}
.ant-card.ant-card-bordered
{
    width: 30% !important;
}